/**
 * CSS grid system
 * Created by Nicolas Candia.
 * --------------------------
 * Version 1.1
 * MIT License
 */
.row {
  width: 100%;
  zoom: 1;
  margin: 0;
  min-width: 100px; }
.row:after, .row:before {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0; }
.row .col, .row .col-x1, .row .col-m1, .row .col-s1, .row .col-x1.unspaced, .row .col-m1.unspaced, .row .col-s1.unspaced, .row .col-x2, .row .col-m2, .row .col-s2, .row .col-x2.unspaced, .row .col-m2.unspaced, .row .col-s2.unspaced, .row .col-x3, .row .col-m3, .row .col-s3, .row .col-x3.unspaced, .row .col-m3.unspaced, .row .col-s3.unspaced, .row .col-x4, .row .col-m4, .row .col-s4, .row .col-x4.unspaced, .row .col-m4.unspaced, .row .col-s4.unspaced, .row .col-x5, .row .col-m5, .row .col-s5, .row .col-x5.unspaced, .row .col-m5.unspaced, .row .col-s5.unspaced, .row .col-x6, .row .col-m6, .row .col-s6, .row .col-x6.unspaced, .row .col-m6.unspaced, .row .col-s6.unspaced, .row .col-x7, .row .col-m7, .row .col-s7, .row .col-x7.unspaced, .row .col-m7.unspaced, .row .col-s7.unspaced, .row .col-x8, .row .col-m8, .row .col-s8, .row .col-x8.unspaced, .row .col-m8.unspaced, .row .col-s8.unspaced, .row .col-x9, .row .col-m9, .row .col-s9, .row .col-x9.unspaced, .row .col-m9.unspaced, .row .col-s9.unspaced, .row .col-x10, .row .col-m10, .row .col-s10, .row .col-x10.unspaced, .row .col-m10.unspaced, .row .col-s10.unspaced, .row .col-x11, .row .col-m11, .row .col-s11, .row .col-x11.unspaced, .row .col-m11.unspaced, .row .col-s11.unspaced, .row .col-x12, .row .col-m12, .row .col-s12, .row .col-x12.unspaced, .row .col-m12.unspaced, .row .col-s12.unspaced {
  float: left; }
.row .spaced, .row .col-x1, .row .col-m1, .row .col-s1, .row .col-x2, .row .col-m2, .row .col-s2, .row .col-x3, .row .col-m3, .row .col-s3, .row .col-x4, .row .col-m4, .row .col-s4, .row .col-x5, .row .col-m5, .row .col-s5, .row .col-x6, .row .col-m6, .row .col-s6, .row .col-x7, .row .col-m7, .row .col-s7, .row .col-x8, .row .col-m8, .row .col-s8, .row .col-x9, .row .col-m9, .row .col-s9, .row .col-x10, .row .col-m10, .row .col-s10, .row .col-x11, .row .col-m11, .row .col-s11, .row .col-x12, .row .col-m12, .row .col-s12 {
  margin: 0.8% 0.5%; }
.row .unspaced, .row .col-x1.unspaced, .row .col-m1.unspaced, .row .col-s1.unspaced, .row .col-x2.unspaced, .row .col-m2.unspaced, .row .col-s2.unspaced, .row .col-x3.unspaced, .row .col-m3.unspaced, .row .col-s3.unspaced, .row .col-x4.unspaced, .row .col-m4.unspaced, .row .col-s4.unspaced, .row .col-x5.unspaced, .row .col-m5.unspaced, .row .col-s5.unspaced, .row .col-x6.unspaced, .row .col-m6.unspaced, .row .col-s6.unspaced, .row .col-x7.unspaced, .row .col-m7.unspaced, .row .col-s7.unspaced, .row .col-x8.unspaced, .row .col-m8.unspaced, .row .col-s8.unspaced, .row .col-x9.unspaced, .row .col-m9.unspaced, .row .col-s9.unspaced, .row .col-x10.unspaced, .row .col-m10.unspaced, .row .col-s10.unspaced, .row .col-x11.unspaced, .row .col-m11.unspaced, .row .col-s11.unspaced, .row .col-x12.unspaced, .row .col-m12.unspaced, .row .col-s12.unspaced {
  margin: 0; }
.row .col-x1 {
  width: 7.33%; }
.row .col-x1.unspaced {
  width: 8.33%; }
.row .col-x2 {
  width: 15.66%; }
.row .col-x2.unspaced {
  width: 16.66%; }
.row .col-x3 {
  width: 24%; }
.row .col-x3.unspaced {
  width: 25%; }
.row .col-x4 {
  width: 32.33%; }
.row .col-x4.unspaced {
  width: 33.33%; }
.row .col-x5 {
  width: 40.66%; }
.row .col-x5.unspaced {
  width: 41.66%; }
.row .col-x6 {
  width: 49%; }
.row .col-x6.unspaced {
  width: 50%; }
.row .col-x7 {
  width: 57.33%; }
.row .col-x7.unspaced {
  width: 58.33%; }
.row .col-x8 {
  width: 65.66%; }
.row .col-x8.unspaced {
  width: 66.66%; }
.row .col-x9 {
  width: 74%; }
.row .col-x9.unspaced {
  width: 75%; }
.row .col-x10 {
  width: 82.33%; }
.row .col-x10.unspaced {
  width: 83.33%; }
.row .col-x11 {
  width: 90.66%; }
.row .col-x11.unspaced {
  width: 91.66%; }
.row .col-x12 {
  width: 99%; }
.row .col-x12.unspaced {
  width: 100%; }
@media screen and (max-width: 1024px) {
  .row .col-m1 {
    width: 7.33%; }
  .row .col-m1.unspaced {
    width: 8.33%; }
  .row .col-m2 {
    width: 15.66%; }
  .row .col-m2.unspaced {
    width: 16.66%; }
  .row .col-m3 {
    width: 24%; }
  .row .col-m3.unspaced {
    width: 25%; }
  .row .col-m4 {
    width: 32.33%; }
  .row .col-m4.unspaced {
    width: 33.33%; }
  .row .col-m5 {
    width: 40.66%; }
  .row .col-m5.unspaced {
    width: 41.66%; }
  .row .col-m6 {
    width: 49%; }
  .row .col-m6.unspaced {
    width: 50%; }
  .row .col-m7 {
    width: 57.33%; }
  .row .col-m7.unspaced {
    width: 58.33%; }
  .row .col-m8 {
    width: 65.66%; }
  .row .col-m8.unspaced {
    width: 66.66%; }
  .row .col-m9 {
    width: 74%; }
  .row .col-m9.unspaced {
    width: 75%; }
  .row .col-m10 {
    width: 82.33%; }
  .row .col-m10.unspaced {
    width: 83.33%; }
  .row .col-m11 {
    width: 90.66%; }
  .row .col-m11.unspaced {
    width: 91.66%; }
  .row .col-m12 {
    width: 99%; }
  .row .col-m12.unspaced {
    width: 100%; } }
@media screen and (max-width: 648px) {
  .row .col-s1 {
    width: 7.33%; }
  .row .col-s1.unspaced {
    width: 8.33%; }
  .row .col-s2 {
    width: 15.66%; }
  .row .col-s2.unspaced {
    width: 16.66%; }
  .row .col-s3 {
    width: 24%; }
  .row .col-s3.unspaced {
    width: 25%; }
  .row .col-s4 {
    width: 32.33%; }
  .row .col-s4.unspaced {
    width: 33.33%; }
  .row .col-s5 {
    width: 40.66%; }
  .row .col-s5.unspaced {
    width: 41.66%; }
  .row .col-s6 {
    width: 49%; }
  .row .col-s6.unspaced {
    width: 50%; }
  .row .col-s7 {
    width: 57.33%; }
  .row .col-s7.unspaced {
    width: 58.33%; }
  .row .col-s8 {
    width: 65.66%; }
  .row .col-s8.unspaced {
    width: 66.66%; }
  .row .col-s9 {
    width: 74%; }
  .row .col-s9.unspaced {
    width: 75%; }
  .row .col-s10 {
    width: 82.33%; }
  .row .col-s10.unspaced {
    width: 83.33%; }
  .row .col-s11 {
    width: 90.66%; }
  .row .col-s11.unspaced {
    width: 91.66%; }
  .row .col-s12 {
    width: 99%; }
  .row .col-s12.unspaced {
    width: 100%; } }

/*# sourceMappingURL=grid.css.map */
