/**
 * CSS grid system
 * Created by Nicolas Candia.
 * --------------------------
 * Version 1.1
 * MIT License
 */

// Variables --------

// General
$cols: 12;           // Number of column in grid

// Rows
$row: row;         // Name for row class
$minWidth: 100px;    // Minimun width of a row (set to 0 for unlimited)
$maxWidth: 0;        // Maximun width of a row (set to 0 for unlimited)
$unspaced: unspaced; // Name for row class with unspaced column inside

// Cols
$col: col;         // Name for col class
$cPrefix: x;       // Col prefix
$overflow: hidden;   // Property for overflow on col

// Margins
$xSpace: 0.5%;       // Left / Right margin
$ySpace: 0.8%;       // Top / Bottom margin
// Responsive
$mWidth: 1024px;     // Maximun width for medium sizes
$mPrefix: m;       // Medium col prefix

$sWidth: 648px;      // Maximun width for small sizes
$sPrefix: s;       // Small col prefix

// Mixin

@mixin column($prefix) {
    @for $i from 1 through $cols {
        $column: $col + "-" + $prefix + $i;
        
        // If result equal to 16.67 for 6 columns we have 100.02 (16.67 * 6) but
        // we need to be under 100. To avoid it we take width floored on the two
        // first decimals.
        // Example : 16.67 will become 16.66 and 16.66 * 6 = 99.96 < 100
        $realWidth: ($i * 100) / $cols;
        $roundWidth: floor($realWidth) + (floor(($realWidth - floor($realWidth)) * 100) / 100);
        
        .#{$column} {
            width: $roundWidth - ($xSpace * 2);
        }
        
        .#{$unspaced}.#{$column} {
            width: unquote($roundWidth + "%");
        }
    }
}

// CSS --------------

// Row
.#{$row} {
    width: 100%;
    zoom: 1;
    margin: 0;
    
    @if $minWidth > 0 {
        min-width: $minWidth;
    }
    @if $maxWidth > 0 {
        max-width: $maxWidth;
    }
    
    // Clearfix
    &:after, &:before {
        content: "";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
    }
    
    // Col
    .col {
        float: left;
    }
    
    .spaced {
        margin: $ySpace $xSpace;
    }
    
    .unspaced {
        margin: 0;
    }
    
    @for $i from 1 through $cols {
        $xColumn: $col + "-" + $cPrefix + $i;
        $mColumn: $col + "-" + $mPrefix + $i;
        $sColumn: $col + "-" + $sPrefix + $i;
        
        .#{$xColumn}, 
        .#{$mColumn}, 
        .#{$sColumn} {
            @extend .spaced;
            @extend .col;
        }
        
        .#{$xColumn}.#{$unspaced}, 
        .#{$mColumn}.#{$unspaced},
        .#{$sColumn}.#{$unspaced} {
            @extend .unspaced;
            @extend .col;
        }
    }
    
    @include column($cPrefix);
    
    @media screen and (max-width: $mWidth) {
        @include column($mPrefix);
    }
    
    @media screen and (max-width: $sWidth) {
        @include column($sPrefix);
    }
}

// End of file